<section class="container">
  <h2>My stats</h2>
  <section class="stats-box">
    <ul>
      <li>ndsfnosdfnksdnk</li>
      <li>ndsfnosdfnksdnk</li>
      <li>ndsfnosdfnksdnk</li>
      <li>ndsfnosdfnksdnk</li>
      <li>ndsfnosdfnksdnk</li>
    </ul>
    {{!-- <article></article> --}}
  </section>
    <form action="{{currentUser.username}}/update" method="GET">
     <button class="button" type="submit">Edit Profile</button>
    </form> 
</section>
 