<nav>
  <section class="burger-container">
    <div></div>
    <div></div>
    <div></div>
  </section>
</nav>

<section class="dash-info">
  <img src="{{currentUser.image}}" alt="">
  <h3>{{currentUser.username}}</h3>
</section>