<!doctype html>
<html lang="en">

<head>
  <title>Hello, world!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <main>
      {{{body}}}
  </main>
  <footer>
    <nav>
      {{#if login }}
        <a class="full-nav" href="/auth/signup">Signup</a>
      {{/if}}
      {{#if signup }}
        <a class="full-nav" href="/">Login</a>
      {{/if}}
      {{#if tournaments}}
        <a href="/users/{{currentUser.username}}/tournaments">Tournaments</a>
        <a href="/uyyh">Ranking</a>
      {{/if}}
    </nav>
  </footer>
</body>
</html>

{{!-- <a id="login" class="login-router" href="/">Login</a>
      <a id="signup" class="signup-router" href="/auth/signup">Signup</a>
      <a id="tournament" class="hidden" href="">Tournaments</a>
      <a id="ranking" class="hidden" href="">Ranking</a>
      <a id="" class="hidden" href="">Play</a>
      <a id="" class="hidden" href="">Create</a> --}}