
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Fira Sans', sans-serif;
  color: whitesmoke;
  font-weight: 300;
}


/* ---- typography ---- */

body {
  background-color: #0D659D;
  font-size: 16px;
  line-height: 147%;

}

h1 {
  font-size: 2em;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  font-weight: 400;
  justify-self: flex-start;
}

p {
  margin: 0;
  font-weight: 200;
}


.champion {
  font-weight: 400;
  text-align: center;
  margin-right: 20px;
  margin-left: 15px;
  color: #F7CB2D;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  padding: 0.35em 1.2em;
  background-color: #F7CB2D;
  color: black;
  border: none;
  text-align: center;
  border-radius: 1.8em;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.1em;
  margin-top: 5%;
  opacity: 1;

}

.button-start {
  padding: 0.28em 0.5em;
  background-color: #F7CB2D;
  color: black;
  border: none;
  text-align: center;
  border-radius: 1em;
  text-decoration: none;
  font-size: 1.1em;
  margin-top: 23px;
  opacity: 1;
}

.button-edit {
  background-color: rgb(245,245,245, 0);
  border: none;
  border-radius: 1em;
  padding: 0;
}



.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}

main {
  margin-bottom: 60px;
}
/* ---- home page ---- */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.container img {
  width: 60%;
  margin: 5% 0 10% 0;
}

@media (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

  .container img {
    width: 40%;
    margin: 0 0 5% 0;
  }

  .container select {
    width: 61%;
    height: 40px;
    border-radius: 8em;
    margin: 3%;
    border: solid 2px white;
    background-color: white;
    opacity: 0.9;
    color: black;
    text-align: center;
    font-size: 1em;
  }
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5% 10%;
  width: 100%;
}

::placeholder {
  text-align: center; 
}


:focus {
  outline: 0;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container input {
  width: 61%;
  height: 40px;
  border-radius: 1.8em;
  margin: 3%;
  border: solid 2px white;
  background-color: white;
  opacity: 0.9;
  color: black;
  text-align: center;
  font-size: 1em;
}

.container select {
  width: 61%;
  height: 40px;
  border-radius: 1.8em;
  margin: 3%;
  border: solid 2px white;
  background-color: white;
  opacity: 0.9;
  color: black;
  text-align: center;
  font-size: 1em; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#password {
  margin-bottom: 3%;
}

.signup {
  text-decoration-line: underline;
  background-color: none;
  padding-left: 5px; 
  color: whitesmoke;
  border: none;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.login-form p {
  margin-top: 10%;
}

/* ---- navbar ---- */

footer nav {
  display: flex;
  flex-direction: row;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

a {
  display: flex;
  width: 50%;
  background-color: #0D659D;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.full-nav {
  width: 100%;
}

/* ---- errors page ---- */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
}

.error-container h1 {
  margin: 0;
}

.error-container img {
  width: 50%;
  margin: 15% 0 25% 0;
}

@media (min-width: 700px)  {
  .error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  
  .error-container h1 {
    margin: 0;
  }
  
  .error-container img {
    width: 13%;
    margin: 5% 0 8% 0;
  }
}

/* ---- header nav ---- */

header {
  height: 50px;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 10px 0 0;
  height: 70px;
}

header nav div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-img {
  width: 68px;
  height: 68px;
  border: solid 2px black;
  border-radius: 50%;
}
 
#profile-nav {
  width: 63px;
  height: 63px;
  border: solid 2px black;
  border-radius: 50%;
  
}

.logout-button {
  display: flex;
  text-decoration: none;
  border: none;
  align-content: center;
  font-size: 22px;
  background-color: #0D659D;
}

.hidden-nav {
  display: none;
}

@media (min-width: 700px) {
  header nav {
    height: 75px;
  }
  header nav img {
    width: 75px;
    margin-right: 80px;
  }
}

/* ---- My profile  ---- */

.stats-box {
  border: solid 2px black;
  padding: 15px;
  width: 90%;
}

/* ---- Tournaments play  ---- */

.card-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.button-container .button {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

.card-container article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0 15px 10px 15px;
  background-color: rgb(245,245,245, 0.1);
  border-radius: 20px;
 
}

.card-container p {
  text-align: center;
}


.form-join {
  display: flex;
 flex-direction: row;
}



/* ---- Manage  ---- */

.edit-img {
  width: 16px;
  height: 16px;
  opacity: 0.68;
}

.loc-date p{
  text-align: left;
}


 .select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 150px;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}


.draw-title {
  font-size: 2em;
  text-align: center;
}

  
.round-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  overflow: scroll;
  height: 1000px;
}

.round-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  width: 150px;
}

.round-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
}

.space {
  width: 50%;
}

.info {
  text-align: left;
  margin: 30% 10%;
}

li {
  list-style: none;
  margin: 15px 15px 15px 0;
}