<h1>Helooooo, ,play with us</h1>
{{#each tournamentsList}}
<article>
  <h3>{{name}}</h3>
  <p>{{location}}</p>
  <p>{{date}}</p>
  <p>{{numberPlayers}}</p>
  <button class="button">Join</button>
</article>
{{/each}}